@import "./tokens.scss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.columns {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 30px;
}

.card {
  padding: 45px;
  color: $text-default-color;

  &--title {
    text-transform: uppercase;
  }
  &--text {
    margin: 25px 0;
  }
}

.btn-rounded {
  border: 0;
  padding: 1rem 2rem;
  border-radius: 3.5rem / 100%;
  font-weight: 900;
  background-color: $text-default-color;
}

.sedan {
  background-color: $color-sedan;
  .btn-rounded {
    color: $color-sedan;
  }
}
.suvs {
  background-color: $color-suvs;
  .btn-rounded {
    color: $color-suvs;
  }
}
.luxury {
  background-color: $color-luxury;
  .btn-rounded {
    color: $color-luxury;
  }
}

@media screen and (min-width: $md-device) {
  .columns {
    flex-direction: row;
  }
}
