$sm-device: 375px;
$md-device: 1440px;

$color-primary-a: hsl(31, 77%, 52%);
$color-primary-b: hsl(184, 100%, 22%);
$color-primary-c: hsl(179, 100%, 13%);

//Neutral
//Transparent white (paragraphs)
$color-paragraph: hsla(0, 0%, 100%, 0.75);
//Very light gray (background, headings, buttons): 
$color-background-back: hsl(0, 0%, 95%);

$color-sedan: $color-primary-a;
$color-suvs: $color-primary-b;
$color-luxury: $color-primary-c;

$text-default-color: $color-paragraph;
$text-default-font-size: 15px;


